
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
		<h2>Full details</h2>
	</div>
    <div class="row">
        <fieldset class="for-panel">
          <legend>{{employee.name}}</legend>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-horizontal"> 
                  <img src="{{employee.image}}"   class="card-img-top" alt="card image cap" width="50px" height="400px">              
                  <label class="col-xs-5 control-label">Name:</label>
                  <p class="form-control-static">{{employee.name}}</p>               
                  <label class="col-xs-5 control-label">Cell number: </label>
                  <p class="form-control-static">{{employee.cellno}}</p>               
                    
                    <label class="col-xs-5 control-label">Email address: </label>
                  <p class="form-control-static">{{employee.email}}</p>  
                  <label class="col-xs-5 control-label">Bio:</label>
                  <p class="form-control-static" style="margin-left: 220px">{{employee.bio}}</p>                            
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-horizontal">               
                  <label class="col-xs-4 control-label" for="org">Organization: </label>
                  <p id="org"  class="form-control-static">{{employee.organization}}</p>  
                                          
              </div>
            </div>
          </div>
        </fieldset>
    </div>
</div>